.container {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
  min-height: 1000px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
  background: #585858;
}
.th1 {
  border-radius: 10px 0px 0px 0 ;
}.th2 {
  border-radius: 0px 10px 0px 0px ;
}
.table th {
  font-size: 1.2rem;
  text-align: left;
  padding: 10px 0;
  padding: 10px;
}
.table tbody tr {
  height: 80px;
  border-bottom: 1px solid #22262e;
  font-weight: 600;
  font-size: 1.1rem;
}

.symbol {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.symbol img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.symbol span {
  font-weight: 500;
  font-size: 0.8rem;
  color: #9fa6b7;
}
.colors {
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  color: #fff !important;
}

.success {
  color: rgb(0, 255, 87);
  background-color: rgba(74, 76, 78, 0.5);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
}
.error {
  color: #d33636;
  background-color: rgba(74, 76, 78, 0.5);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
}
.priceSuccess {
  color: #00ff57;
}
.priceError {
  color: #d33636;
}

@media (max-width: 700px) {
  .table {
    display: block;
    overflow: auto;
  }
  .table td,
  .table th {
    padding: 0 10px;
  }
  .total,
  .total_volume {
    display: none;
  }
  .symbol {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 100px;
  }
}

@media (max-width: 600px) {
  .table {
    display: block;
    overflow: auto;
  }
  .table td,
  .table th {
    padding: 0 10px;
  }
  .name,
  .total,
  .total_volume {
    display: none;
  }
  .symbol {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 210px;
  }
}
@media (max-width: 500px) {
  .symbol {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 130px;
  }
}
